body {
    font-family: 'Poppins', sans-serif;

}

/* ---------
-----------header
                ---------------- */
.header {
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    margin-left: 15%;
    margin-right: 15%;
    height: 40em;



}

.writing {
    padding-top: 5em;
    margin-left: 1em;

}

img {
    margin-left: 2.5em;
    height: 100%;
}

h1 {
    font-size: 50px;
    line-height: 70px;
    margin-block-end: 0.37em;
}

p {
    margin-bottom: 2.5em;
}


#streaming-site {
    background-color: crimson;
    border-color: crimson;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5em
}

#streaming-site a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 700;
}

/* --------------
        middle-section
                    ------------ */
.select-option {
    border: 100px solid black;
    background-color: black;
    width: 5%;
    text-align: center;
    border-radius: 3px;
    height: 100px;
    padding: 10px 5px 10px;
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    align-content: center;

}

.second-part {
    width: 20%;
    border: 2px solid black;
    text-align: center;
    border-radius: 5px;
    padding: 10px 15px 10px;
    background-color: black;
    border-radius: 10px;
    font-size: 2ex;


}

.first-two {
    border: 2px solid black;
    text-align: center;
    border-radius: 10px;
    background-color: white;

    margin-left: 10%;
    margin-right: 10%;


}

#last-one {
    border: 2px solid black;
    background-color: crimson;
    text-align: center;
    border-radius: 10px;

    margin-left: 10%;
    margin-right: 10%;
}